@model IEnumerable<Laboratorio.Models.estudiante>

@{
    ViewBag.Title = "Todos los elementos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos los elementos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Año en curso
        </th>
        <th>
            Correo electrónico
        </th>
        <th>
            Carrera
        </th>
        <th>
            Género
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.añoCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idEstudiante }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idEstudiante }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idEstudiante })
        </td>
    </tr>
}

</table>
