@model Laboratorio.Models.opcion

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>opcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreOpcion)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionOpcion)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoOpcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idOpcion }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
