@model IEnumerable<Laboratorio.Models.horario>

@{
    ViewBag.Title = "Todos los elementos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos los elementos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descripcion
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idHorario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idHorario }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idHorario })
        </td>
    </tr>
}

</table>
